flows/flows.json
[{"id":"d437241cb80813aa","type":"tab","label":"Fluxo 1","disabled":false,"info":"","env":[]},{"id":"9d0c82ad1f277388","type":"mqtt-broker","name":"662267b4d75448ff9ab5c5bcb043bd1f","broker":"662267b4d75448ff9ab5c5bcb043bd1f.s1.eu.hivemq.cloud","port":"8883","tls":"","clientid":"662267b4d75448ff9ab5c5bcb043bd1f","autoConnect":true,"usetls":true,"protocolVersion":4,"keepalive":60,"cleansession":true,"autoUnsubscribe":true,"birthTopic":"","birthQos":"0","birthRetain":"false","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closeRetain":"false","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willRetain":"false","willPayload":"","willMsg":{},"userProps":"","sessionExpiry":""},{"id":"94d65a6bd94fded8","type":"ui_tab","name":"Home","icon":"dashboard","disabled":false,"hidden":false},{"id":"c6ce88be0f12a419","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey","palette":"light"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"4ac3078611552b1e","type":"ui_group","name":"Default","tab":"94d65a6bd94fded8","order":1,"disp":true,"width":6,"collapse":false,"className":""},{"id":"87a7ca34e2267354","type":"inject","z":"d437241cb80813aa","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":280,"y":580,"wires":[["d66cd58fe22ba8ab"]]},{"id":"4e14b33a2efecc07","type":"debug","z":"d437241cb80813aa","name":"debug 1","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":980,"y":40,"wires":[]},{"id":"83e995c3d830c665","type":"mqtt in","z":"d437241cb80813aa","name":"662267b4d75448ff9ab5c5bcb043bd1f","topic":"google-sheets-data","qos":"0","datatype":"auto-detect","broker":"9d0c82ad1f277388","nl":false,"rap":true,"rh":0,"inputs":0,"x":290,"y":40,"wires":[["b925c1307aafd34a","3368511745987b35","4e14b33a2efecc07","680602ea921b487c"]]},{"id":"d66cd58fe22ba8ab","type":"mqtt out","z":"d437241cb80813aa","name":"662267b4d75448ff9ab5c5bcb043bd1f","topic":"google-sheets-data","qos":"0","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"9d0c82ad1f277388","x":950,"y":580,"wires":[]},{"id":"3534936871e0d66e","type":"ui_gauge","z":"d437241cb80813aa","name":"","group":"4ac3078611552b1e","order":1,"width":0,"height":0,"gtype":"gage","title":"Temp","label":"units","format":"{{payload}}","min":0,"max":"500","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","diff":false,"className":"","x":1050,"y":120,"wires":[]},{"id":"d84ac9119ffcfbb6","type":"ui_gauge","z":"d437241cb80813aa","name":"","group":"4ac3078611552b1e","order":1,"width":0,"height":0,"gtype":"gage","title":"Umid","label":"units","format":"{{payload}}","min":0,"max":"500","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","diff":false,"className":"","x":1050,"y":160,"wires":[]},{"id":"b925c1307aafd34a","type":"change","z":"d437241cb80813aa","name":"definir msg.payload.valor2","rules":[{"t":"set","p":"payload","pt":"msg","to":"msg.payload.valor1","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":710,"y":120,"wires":[["3534936871e0d66e","5318649c6bd370da"]]},{"id":"3368511745987b35","type":"change","z":"d437241cb80813aa","name":"definir msg.payload.valor2","rules":[{"t":"set","p":"payload","pt":"msg","to":"msg.payload.valor2","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":710,"y":160,"wires":[["d84ac9119ffcfbb6","5318649c6bd370da"]]},{"id":"5318649c6bd370da","type":"debug","z":"d437241cb80813aa","name":"debug 2","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1030,"y":200,"wires":[]},{"id":"1575788e36f6378e","type":"http request","z":"d437241cb80813aa","name":"","method":"GET","ret":"obj","paytoqs":"ignore","url":"","tls":"","persist":false,"proxy":"","insecureHTTPParser":true,"authType":"","senderr":false,"headers":[],"x":800,"y":320,"wires":[["b5696f2a2e8d16e7"]]},{"id":"680602ea921b487c","type":"function","z":"d437241cb80813aa","name":"function 1","func":"var valor1 = msg.payload.valor1 || 0; // Garante que valor1 tem um valor\nmsg.url = \"https://docs.google.com/forms/d/e/1FAIpQLSemCuYPHfKyo-iEMDjWWzH1if4UUgic00Y0njsiPabyW34qeg/formResponse?entry.912878762=\" + valor1;\n\n// Retorna a msg com a URL no campo correto\nreturn msg;\n","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":580,"y":260,"wires":[["b5696f2a2e8d16e7","1575788e36f6378e"]]},{"id":"b5696f2a2e8d16e7","type":"debug","z":"d437241cb80813aa","name":"debug 3","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1020,"y":260,"wires":[]}]
